@{
    ViewData["Title"] = "Добавление коммутатора";
}

@model CommutatorAccounting.Models.Commutator
<div class="row justify-content-center">
    <h2 class="col-md-auto">@ViewData["Title"]</h2>
</div>
<form asp-action="addCommutator" asp-controller="Commutator" method="POST">
    <div class="row justify-content-center">
        <div class="card col-6 px-0">
            <div class="card-header">Заполните информацию о коммутаторе</div>
            <div class="card-body">

                <fieldset>
                    <div class="mb-3">
                        <label for="model" class="form-label">Модель</label>
                        <input type="text" asp-for="Model" id="model" 
                        required pattern="^.{2,}$"
                        class="form-control" placeholder="TP-Link Archer C80 AC1900">
                    </div>
                    <div class="mb-3 row">
                        <div class="col">
                            <label for="ip" class="form-label">IP</label>
                            <input type="text" asp-for="Ip" id="ip"
                                   required pattern="^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)\.?\b){4}$"
                                   class="form-control" placeholder="192.0.0.1">
                        </div>
                        <div class="col">
                            <label for="mac" class="form-label">MAC</label>
                            <input type="text" asp-for="Mac" id="mac"
                                   required pattern="^([0-9A-Fa-f]{2}[:]){5}([0-9A-Fa-f]{2})$"
                                   class="form-control" placeholder="00:AB:CD:EF:11:22">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="vlan" class="form-label">Управляющий VLAN</label>
                        <input type="text" asp-for="Vlan" id="vlan" class="form-control" placeholder="v83">
                    </div>
                    <div class="mb-3 row">
                        <div class="col">
                            <label for="serialNumber" class="form-label">Серийный номер</label>
                            <input type="text" asp-for="SerialNumber" id="serialNumber"
                                   required pattern="^(\d|\w){8,}$"
                                   class="form-control" placeholder="CNU1283W8D">
                        </div>
                        <div class="col">
                            <label for="stockNumber" class="form-label">Инвентарный номер</label>
                            <input type="text" asp-for="StockNumber" id="stockNumber"
                                   required pattern="^(\d){8,}$"
                                   class="form-control" placeholder="23125360252">
                        </div>
                    </div>
                    <div class="mb-3 row justify-content-between">
                        <div class="col">
                            <label for="purchaseDate" class="form-label">Дата покупки</label>
                            <input type="date" asp-for="PurchaseDate" id="purchaseDate"
                                   required min="1970-01-01"
                                   class="form-control">
                        </div>
                        <div class="col">
                            <label for="installationDate" class="form-label">Дата установки</label>
                            <input type="date" asp-for="InstallationDate" id="installationDate"
                                   required min="1970-01-01"
                                   class="form-control">
                        </div>
                        <div class="col">
                            <label for="installationFloor" class="form-label">Этаж</label>
                            <input type="number" asp-for="InstallationFloor" id="installationFloor"
                                   required min="-20" max="165"
                                   class="form-control" placeholder="1">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="comment" class="form-label">Комментарий</label>
                        <textarea type="text" asp-for="Comment" id="comment" class="form-control" placeholder="Ваш комментарий"></textarea>
                    </div>
                </fieldset>
            </div>
            <div class="card-footer">
                <row class="row justify-content-between px-2">
                    <a class="col-md-auto btn btn-secondary" asp-controller="Commutator" asp-action="Index">Назад</a>
                    <input class="col-md-auto btn btn-primary" type="submit" value="Добавить">
                </row>
            </div>
        </div>
    </div>
</form>
<script asp-append-version="true" src="/js/CommutatorMasks.js"></script>
